{% extends 'Register/temp/regLayout.html' %}

{% load static %}
{% block content %}
<div class="form-section col-lg-6 col-md-12">
    <h2 class="text-center">Login</h2>
    <form class="form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" value="{{ email }}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" value="{{ password }}">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="remember_me">
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <a href="#">Forgot your password?</a>
        </div>
        <button type="submit" class="btn w-100">Sign in</button>
        <div class="text-center mt-3">
            <p><a href="{% url 'register' %}">Signup</a></p>
        </div>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
