<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/matrimony/register/layout.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
    </style>
</head>
<body>

<div class="login-container ">
    <div class="image-section col-lg-6 col-md-12 ">
        <div >
            <img src="{% static 'images/pngfiles/Grouplogo.png' %}">
        </div>
        <!-- Background image section -->
    </div>
    {% block content %} 
    {% endblock content %}

    
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
