
{% load static %}

{% block content %}

<head>
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
   
</head>

<div class="container d-flex flex-column justify-content-center align-items-center vh-100 error-body">
    <div id="error-404" class="error-page active text-center">
        <h1 class="error-h1">404</h1>
        <p class="error-p">Ooops...</p>
        <p class="error-p">We cannot find this page</p>
        <a href="#" onclick="window.history.back();" class="btn btn-outline-light">Let's try something different</a>
    </div>
</div>


{% endblock %}