body {
    background-color: #FAEAF4;
    font-family: Arial, sans-serif;
}
.tag {
    flex-grow: 1;
    text-align: center;
    font-size: 26px;
    color: rgb(0, 0, 0);
}
.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
}
.menu {
    padding: 20px;
    padding-right: 0;
}
.settings-card {
    max-width: 700px;
    margin: 20px auto;
    
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: white;
    padding: 20px;
}
.settings-card h5 {
    color: #6f42c1;
}
.settings-card .toggle-switch {
    display: inline-flex;
    align-items: center;
}
.settings-card .btn-reset {
    background-color: #6f42c1;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
}
.settings-card .btn-reset:hover {
    background-color: #5a3799;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.no-wrap {
    white-space: nowrap;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #4A154B;
}
input:checked + .slider:before {
    transform: translateX(20px);
}

/* Responsive styling for screens with a max-width of 992px */
@media (max-width: 992px) {
    body {
        background-color: #4A154B;
    }
    .settings-card {
        max-width: 600px;
        margin: 0 auto;
    }
    .tag{
        flex-grow: 1;
        text-align: left;
        font-size: 18px;
        padding-left: 45px;
        color: rgb(255, 255, 255);
       
    }
    .topbar{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
       padding-right: 0;
        
    }
}

.range-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-container label {
    font-weight: 600;
}


.range-slider {
    width: 100%;
    position: relative;
    height: 30px;
}

.range-slider input[type="range"] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    margin: 0;
    width: 100%;
    background: transparent;
    margin-top: 12px; 
}

.range-slider input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background-color: #5b5151;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    position: relative;
    z-index: 2;
   
}

.range-slider input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background-color: #5b5151;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
   
}

.range-slider input[type="range"]::-ms-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background-color: #5b5151;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
   
}

.range-slider .range-track {
    width: 100%;
    height: 8px;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.range-slider .range-fill {
    position: absolute;
    height: 8px;
    background-color: #5b5151;
    z-index: 1;
    margin-top: 10px;
}
.range-slider .weight-fill {
    position: absolute;
    height: 8px;
    background-color: #5b5151;
    z-index: 1;
    margin-top: 10px;
}
.range-slider .age-fill{
    position: absolute;
    height: 8px;
    background-color: #5b5151;
    z-index: 1;
    margin-top: 10px;
}

.value-labels {
    display: flex;
    justify-content: space-between;
   
}
.selected-tags {
    margin-bottom: 10px;
}

.tag-badge {
    margin-right: 5px;
    background-color: #6c757d;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
}

.tag-badge .remove-tag {
    margin-left: 8px;
    cursor: pointer;
    font-size: 14px;
    color: white;
}