.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: purple;
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
}