body {
    background: linear-gradient(to bottom, purple, black);
    color: white;
    font-family: Arial, sans-serif;
}


.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 15px;
    padding: 20px;
    width: max-content;
    
}

.card-header h1 {
    color: white;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.list-group-item {
    background-color: transparent;
    border: none;
    color: white;
    padding: .75rem 2.25rem;
}

.list-group-item.with-border {
    border-top: 1px solid white;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 50px;
    font-size: 1.2rem;
    border-radius: 5px;
}


/* payment method css */
.payment-method {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: space-between; /*Space out the image and text */
}
.payment-method:hover {
    background-color: #f9f9f9;
}
.default-method {
    font-weight: bold;
    color: #6c757d;
}
.payment-method img {
    max-width: 50px;
    margin-right: 15px; /* Space between image and text */
}
.payment-method .details {            
    flex: 1; /* Take up the remaining space */
}
.payment-method .details p {
    margin: 0;
}