<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy & Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/privacy.css' %}">
    <style>
       
    </style>
</head>
<body>
     {% include "shared/sidebar.html" %}
     <div class="topbar">
        <div class="menu">
            <a href="">
            <img src="{% static 'assets/img/search.png'%}" alt="Back"></a>
        </div>
        <div class="tag">
            
            <p class="mt-4">Privacy & Settings</p>
        </div>
        
    </div>
    <div class="settings-card card shadow-lg p-4">
      
        <div class=" mb-3 d-flex justify-content-between align-items-center flex-nowrap">
            <label for="email" class="form-label mb-0 no-wrap"><b>Sign-in Email</b></label>
                    <p id="email" class="form-control-plaintext mb-0 text-end">johnsmith@gmail.com</p>
        </div>
        <div class="  d-flex justify-content-between align-items-center">
            <label for="password" class="form-label  mb-0"><b>Password</b></label>
            <a href="{% url 'change_password'%}" id="password" class="text-primary text-end">Change password</a>
        </div>
        <hr>
        <div class="mb-3  d-flex justify-content-between align-items-center">
            <label class="form-label"><b>2-FA Authentication</b></label>
            <label class="switch ">
                <input type="checkbox" checked>
                <span class="slider"></span>
              </label>
        </div>
        <div class="mb-3  d-flex justify-content-between align-items-center">
            <label for="phone-number" class="form-label no-wrap"><b>Phone number</b></label>
            <p id="phone-number" class="form-control-plaintext text-end">+380 93 123 45 67</p>
        </div>
        <a href="{% url 'partner_preferences'%}">
        <div class="">
            <label for="partner-preference" class="form-label"><b>Partner Preference</b></label>
           
        </div></a>
        <hr>
        <div class="mb-3">
            <label for="last-sign-in" class="form-label"><b>Last sign in</b></label>
            <p id="last-sign-in" class="form-control-plaintext">today at 18:34, Safari 198.123.23.23</p>
        </div>
        <div class="mb-3">
            <label for="active-sessions" class="form-label"><b>Total active sessions (5)</b></label>
            <p id="active-sessions" class="form-control-plaintext">DESKTOP-6TIG6EC • Kyiv, Ukraine<br>
            Chrome • Used right now</p>
            <p id="active-sessions" class="form-control-plaintext">Iphone 11 • Kyiv, Ukraine<br>
            Chrome • 04/19/2022</p>
        </div>
        <button type="button" class="btn btn-reset">Reset all active sessions</button>
    </div>
    {% include 'shared/navbar.html'%}
</body>
</html>
