<nav class="col-md-1 left-sidebar d-none d-md-block">
    <!--  side Menu for PC View -->
    <div class="bottom-bar">
        <a href="#" title="Home">
          <div class="icon-container">
            <i class="fas fa-home"></i>
            <h5>Home</h5>
          </div>
        </a>
        <a href="#" title="Chat">
          <div class="icon-container">
            <i class="fas fa-comments"></i>
            <h5>Chat</h5>
          </div>
        </a>
        <a href="#" title="Search">
          <div class="icon-container">
            <i class="fas fa-search"></i>
            <h5>Search</h5>
          </div>
        </a>
        <a href="#" title="Favorites">
          <div class="icon-container">
            <i class="fas fa-star"></i>
            <h5>Favorites</h5>
          </div>
        </a>
        <a href="#" title="Profile">
          <div class="icon-container">
            <i class="fas fa-user"></i>
            <h5>Profile</h5>
          </div>
        </a>
      </div>
</nav>
    
