{% extends 'shared/Main.html'%}

{% load static %}


      {% block extra_css %}
      <link rel="stylesheet" href="{% static 'css/menupage.css' %}">
       {% endblock extra_css %}


{% block content%}
<main>

    <div class="main-container">
        <div class="top-navbar">
            <h1 class="settings-text">Accept</h1>
        </div>
        <div class="main-content">
            <div class="list-group">
                <div class="alphabet-header">A</div>
                <div class="list-group-item">
                    <div class="item-content">
                        <img src="https://via.placeholder.com/40" alt="Profile Picture">
                        <div class="name-status">
                            <div class="name">Afrin Sabila</div>
                            <div class="status">Life is beautiful 👌</div>
                        </div>
                    </div>
                    <div class="action-icons">
                        <button class="heart-btn"><i class=" bi bi-telephone"></i></button>
                        <button class="remove-btn"><i class="bi bi-camera-video"></i></button>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="item-content">
                        <img src="https://via.placeholder.com/40" alt="Profile Picture">
                        <div class="name-status">
                            <div class="name">Adil Adnan</div>
                            <div class="status">Be your own hero 💪</div>
                        </div>
                    </div>
                    <div class="action-icons">
                        <button class="heart-btn"><i class="bi bi-telephone"></i></button>
                        <button class="remove-btn"><i class="bi bi-camera-video"></i></button>
                    </div>
                </div>
                <div class="alphabet-header">B</div>
                <div class="list-group-item">
                    <div class="item-content">
                        <img src="https://via.placeholder.com/40" alt="Profile Picture">
                        <div class="name-status">
                            <div class="name">Bristy Haque</div>
                            <div class="status">Keep working ✍️</div>
                        </div>
                    </div>
                    <div class="action-icons">
                        <button class="heart-btn"><i class="bi bi-telephone"></i></button>
                        <button class="remove-btn"><i class="bi bi-camera-video"></i></button>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="item-content">
                        <img src="https://via.placeholder.com/40" alt="Profile Picture">
                        <div class="name-status">
                            <div class="name">John Borino</div>
                            <div class="status">Make yourself proud 😁</div>
                        </div>
                    </div>
                    <div class="action-icons">
                        <button class="heart-btn"><i class="bi bi-telephone"></i></button>
                        <button class="remove-btn"><i class="bi bi-camera-video"></i></button>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="item-content">
                        <img src="https://via.placeholder.com/40" alt="Profile Picture">
                        <div class="name-status">
                            <div class="name">Borsha Akther</div>
                            <div class="status">Flowers are beautiful 🌸</div>
                        </div>
                    </div>
                    <div class="action-icons">
                        <button class="heart-btn"><i class="bi bi-telephone"></i></button>
                        <button class="remove-btn"><i class="bi bi-camera-video"></i></button>
                    </div>
                </div>
                <div class="alphabet-header">S</div>
                <div class="list-group-item">
                    <div class="item-content">
                        <img src="https://via.placeholder.com/40" alt="Profile Picture">
                        <div class="name-status">
                            <div class="name">Sheik Sadi</div>
                            <div class="status">Life is beautiful 👌</div>
                        </div>
                    </div>
                    <div class="action-icons">
                        <button class="heart-btn"><i class="bi bi-telephone"></i></button>
                        <button class="remove-btn"><i class="bi bi-camera-video"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

{% endblock content%}

