{% extends 'shared/Main.html' %}
{% load static %}

{% block content %}
<main>
  <div class="container additional mt-5 w-50">
    <h1>Additional Details</h1>
    <form method="post" action="{% url 'extra' %}">
      {% csrf_token %}
      {{ profile_form.as_p }}

      <!-- Partner Expectations Button and Modal -->
      <div class="container mt-5">
        <button type="button" class="btn partnerbtn btn-dark" data-bs-toggle="modal" data-bs-target="#partnerExpectationsModal">
          Set Partner Expectations
        </button>

        <!-- Modal -->
        <div class="modal fade" id="partnerExpectationsModal" tabindex="-1" aria-labelledby="partnerExpectationsModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-3">
              <div class="modal-header">
                <h5 class="modal-title" id="partnerExpectationsModalLabel">Partner Expectations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {{ expectations_form.as_p }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" name="save_expectations" class="btn btn-dark">Save Expectations</button>
      <button type="submit" name="save_profile" class="btn btn-dark">Save</button>
    </form>
  </div>
</main>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Custom CSS -->
<style>
  .modal-lg {
    max-width: 50% !important;
  }
</style>
{% endblock content %}
