{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JobPortal | {% block title %}{% endblock title %}</title>

  <!-- Stylesheets -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>

<body data-anm=".anm">

  <div class="page-wrapper">

    <!-- Preloader -->
    {% comment %} <div class="preloader"></div> {% endcomment %}

    {% block content %}{% endblock content %}
    <!-- Main Footer -->
    <footer class="main-footer style-three">
        <div class="auto-container">
          <!--Widgets Section-->
          <div class="widgets-section">
            <div class="newsletter-form wow fadeInUp">
              <div class="sec-title light text-center">
                <h2>Subscribe Our Newsletter</h2>
                <div class="text text-white">We don’t send spam so don’t worry.</div>
              </div>
              <form method="post" action="#" id="subscribe-form">
                <div class="form-group">
                  <div class="response"></div>
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="email" value="" placeholder="Your e-mail" required>
                  <button type="button" id="subscribe-newslatters" class="theme-btn btn-style-two">Subscribe</button>
                </div>
              </form>
            </div>
  
            <div class="row">
              <div class="big-column col-xl-3 col-lg-3 col-md-12">
                <div class="footer-column about-widget">
                  <div class="logo"><a href="#"><img src="{% static 'images/logo-2.svg' %}" alt=""></a></div>
                  <p class="phone-num"><span>Call us </span><a href="thebeehost%40support.html">123 456 7890</a></p>
                  <p class="address">329 Queensberry Street, North Melbourne VIC<br> 3051, Australia. <br><a href="mailto:support@superio.com" class="email">support@superio.com</a></p>
                </div>
              </div>
  
              <div class="big-column col-xl-9 col-lg-9 col-md-12">
                <div class="row">
                  <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                      <h4 class="widget-title">For Candidates</h4>
                      <div class="widget-content">
                        <ul class="list">
                          <li><a href="#">Browse Jobs</a></li>
                          <li><a href="#">Browse Categories</a></li>
                          <li><a href="#">Candidate Dashboard</a></li>
                          <li><a href="#">Job Alerts</a></li>
                          <li><a href="#">My Bookmarks</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                  <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                      <h4 class="widget-title">For Employers</h4>
                      <div class="widget-content">
                        <ul class="list">
                          <li><a href="#">Browse Candidates</a></li>
                          <li><a href="#">Employer Dashboard</a></li>
                          <li><a href="#">Add Job</a></li>
                          <li><a href="#">Job Packages</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
  
                  <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                      <h4 class="widget-title">About Us</h4>
                      <div class="widget-content">
                        <ul class="list">
                          <li><a href="#">Job Page</a></li>
                          <li><a href="#">Job Page Alternative</a></li>
                          <li><a href="#">Resume Page</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">Contact</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>


                  


                  <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-widget">
                      <h4 class="widget-title">Mobile Apps</h4>
                      <div class="widget-content">
                        <div class="download-btns">
                          <div class="text text-white">Click and Get started in seconds</div>
                          <a href="#" class="app-btn">
                            <div class="app-icon"><i class="fab fa-apple"></i></div>
                            <div class="inner">
                              <div class="sub">Download on the</div>
                              <div class="name-app">Apple Store</div>
                            </div>
                          </a>
                          <a href="#" class="app-btn">
                            <div class="app-icon"><i class="fab fa-apple"></i></div>
                            <div class="inner">
                              <div class="sub">Get in on</div>
                              <div class="name-app">Google Play</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
  
        <!--Bottom-->
        <div class="footer-bottom">
          <div class="auto-container">
            <div class="outer-box">
              <div class="copyright-text">© 2021 <a href="#">Superio</a>. All Right Reserved.</div>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
      </footer>
      <!-- End Main Footer -->
  
    </div><!-- End Page Wrapper -->
  
  
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/chosen.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/jquery.modal.min.js' %}"></script>
    <script src="{% static 'js/mmenu.polyfills.js' %}"></script>
    <script src="{% static 'js/mmenu.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/anm.min.js' %}"></script>
    <script src="{% static 'js/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'js/rellax.min.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  
  </body>
  </html>