{% extends 'shared/base.html' %}
{% load static %}
{% block meta %}
  <title>change_password</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock style %}

{% block content %}
  <h1 class="title">Change password</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 top-rounded-white-box">
      <div class="changepass-container">
        <p class="text-center">Feeling worried about your account been easily preyed on? Then change that password now!</p>
        <br><hr><br>
        <form class="changepass-form">
          <div class="changepass-form-group">
            <label for="current-password" class="form-label">Current Password</label>
            <input type="password" id="current-password" class="form-control" placeholder="Enter current password">
            <i class="fas fa-eye-slash  toggle-password" onclick="togglePassword('current-password')"></i>
          </div>
          <div class="changepass-form-group">
            <label for="changepass-form-group" class="form-label">New Password</label>
            <input type="password" id="new-password" class="form-control" placeholder="Enter new password">
            <i class="fas fa-eye-slash  toggle-password" onclick="togglePassword('new-password')"></i>
          </div>
          <div class="changepass-form-group">
            <label for="changepass-form-group" class="form-label">Confirm Password</label>
            <input type="password" id="confirm-password" class="form-control" placeholder="Confirm new password">
            <i class="fas fa-eye-slash toggle-password" onclick="togglePassword('confirm-password')"></i>
          </div>
          <button type="submit" class="btn btn-update">Update</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script>
    function togglePassword(id) {
      const input = document.getElementById(id);
      const icon = document.querySelector(`#${id} + .toggle-password`);
      const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
      input.setAttribute('type', type);
      icon.classList.toggle('fa-eye');
      icon.classList.toggle('fa-eye-slash');
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
{% endblock scripts %}