{% extends "JobPortal/layout/layout.html" %}
{% load static %}

{% block content %}

<section class="user-dashboard">
    <div class="dashboard-outer">
      <div class="upper-title-box">
        <h3>Shorlisted Jobs</h3>
        <div class="text">Ready to jump back in?</div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <!-- Ls widget -->
          <div class="ls-widget">
            <div class="tabs-box">
              <div class="widget-title">
                <h4>My Favorite Jobs</h4>

                <div class="chosen-outer">
                  <!--Tabs Box-->
                  <select class="chosen-select">
                    <option>Last 6 Months</option>
                    <option>Last 12 Months</option>
                    <option>Last 16 Months</option>
                    <option>Last 24 Months</option>
                    <option>Last 5 year</option>
                  </select>
                </div>
              </div>

              <div class="widget-content">
                <div class="table-outer">
                  <table class="default-table manage-job-table">
                    <thead>
                      <tr>
                        <th>Job Title</th>
                        <th>Date Applied</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>
                          <!-- Job Block -->
                          <div class="job-block">
                            <div class="inner-box">
                              <div class="content">
                                <span class="company-logo"><img src="{% static 'jobPortal/images/resource/company-logo/1-1.png' %}" alt=""></span>
                                <h4><a href="#">Senior Full Stack Engineer, Creator Success</a></h4>
                                <ul class="job-info">
                                  <li><span class="icon flaticon-briefcase"></span> Segment</li>
                                  <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>Dec 5, 2020</td>
                        <td class="status">Active</td>
                        <td>
                          <div class="option-box">
                            <ul class="option-list">
                              <li><button data-text="View Aplication"><span class="la la-eye"></span></button></li>
                              <li><button data-text="Delete Aplication"><span class="la la-trash"></span></button></li>
                            </ul>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <!-- Job Block -->
                          <div class="job-block">
                            <div class="inner-box">
                              <div class="content">
                                <span class="company-logo"><img src="{% static 'jobPortal/images/resource/company-logo/1-2.png' %}" alt=""></span>
                                <h4><a href="#">Senior Product Designer</a></h4>
                                <ul class="job-info">
                                  <li><span class="icon flaticon-briefcase"></span> Segment</li>
                                  <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>Dec 5, 2020</td>
                        <td class="status">Active</td>
                        <td>
                          <div class="option-box">
                            <ul class="option-list">
                              <li><button data-text="View Aplication"><span class="la la-eye"></span></button></li>
                              <li><button data-text="Delete Aplication"><span class="la la-trash"></span></button></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <!-- Job Block -->
                          <div class="job-block">
                            <div class="inner-box">
                              <div class="content">
                                <span class="company-logo"><img src="{% static 'jobPortal/images/resource/company-logo/1-3.png' %}" alt=""></span>
                                <h4><a href="#">Sr. Full Stack Engineer</a></h4>
                                <ul class="job-info">
                                  <li><span class="icon flaticon-briefcase"></span> Segment</li>
                                  <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>Dec 5, 2020</td>
                        <td class="status">Active</td>
                        <td>
                          <div class="option-box">
                            <ul class="option-list">
                              <li><button data-text="View Aplication"><span class="la la-eye"></span></button></li>
                              <li><button data-text="Delete Aplication"><span class="la la-trash"></span></button></li>
                            </ul>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <!-- Job Block -->
                          <div class="job-block">
                            <div class="inner-box">
                              <div class="content">
                                <span class="company-logo"><img src="{% static 'jobPortal/images/resource/company-logo/1-4.png' %}" alt=""></span>
                                <h4><a href="#">Product Manager, Studio</a></h4>
                                <ul class="job-info">
                                  <li><span class="icon flaticon-briefcase"></span> Segment</li>
                                  <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>Dec 5, 2020</td>
                        <td class="status">Active</td>
                        <td>
                          <div class="option-box">
                            <ul class="option-list">
                              <li><button data-text="View Aplication"><span class="la la-eye"></span></button></li>
                              <li><button data-text="Delete Aplication"><span class="la la-trash"></span></button></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
</section>
{% endblock content %}

<div class="copyright-text">
    <p>© 2021 Superio. All Right Reserved.</p>
</div>

{% block script %}

<script src="{% static 'jobPortal/js/jquery.js' %}"></script>
<script src="{% static 'jobPortal/js/popper.min.js' %}"></script>
<script src="{% static 'jobPortal/js/chosen.min.js' %}"></script>
<script src="{% static 'jobPortal/js/bootstrap.min.js' %}"></script>
<script src="{% static 'jobPortal/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'jobPortal/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'jobPortal/js/jquery.modal.min.js' %}"></script>
<script src="{% static 'jobPortal/js/mmenu.polyfills.js' %}"></script>
<script src="{% static 'jobPortal/js/mmenu.js' %}"></script>
<script src="{% static 'jobPortal/js/appear.js' %}"></script>
<script src="{% static 'jobPortal/js/ScrollMagic.min.js' %}"></script>
<script src="{% static 'jobPortal/js/rellax.min.js' %}"></script>
<script src="{% static 'jobPortal/js/owl.js' %}"></script>
<script src="{% static 'jobPortal/js/wow.js' %}"></script>
<script src="{% static 'jobPortal/js/knob.js' %}"></script>
<script src="{% static 'jobPortal/js/script.js' %}"></script>

{% endblock script %}