<nav class="nav main-menu">
  <ul class="navigation" id="navbar">
    <li >
      <span>Home</span>
    </li>

    <li class="dropdown has-mega-menu" id="has-mega-menu">
      <span>Find Jobs</span>
      <div class="mega-menu">
        <div class="mega-menu-bar row">
          <div class="column col-lg-3 col-md-3 col-sm-12">
            <h3>Jobs Listing</h3>
            <ul>
              <li><a href="job-list-v1.html">Jobs List – v1</a></li>
              <li><a href="job-list-v2.html">Jobs List – v2</a></li>
              <li><a href="job-list-v3.html">Jobs List – v3</a></li>
              <li><a href="job-list-v4.html">Jobs List – v4</a></li>
              <li><a href="job-list-v5.html">Jobs List – v5</a></li>
            </ul>
          </div>

          <div class="column col-lg-3 col-md-3 col-sm-12">
            <ul>
              <li><a href="job-list-v6.html">Jobs List – v6</a></li>
              <li><a href="job-list-v7.html">Jobs List – v7</a></li>
              <li><a href="job-list-v8.html">Jobs List – v8</a></li>
              <li><a href="job-list-v9.html">Jobs List – v9</a></li>
              <li><a href="job-list-v10.html">Jobs List – v10</a></li>
            </ul>
          </div>

          <div class="column col-lg-3 col-md-3 col-sm-12">
          <ul>
            <li><a href="job-list-v11.html">Jobs List – v11</a></li>
            <li><a href="job-list-v12.html">Jobs List – v12</a></li>
            <li><a href="job-list-v13.html">Jobs List – v13</a></li>
            <li><a href="job-list-v14.html">Jobs List – v14</a></li>
            <li><a href="job-list-v15.html">Jobs List – v15</a></li>
            <li><a href="job-list-v16.html">Jobs List – v16</a></li>
            <li><a href="job-list-v17.html">Jobs List – v17</a></li>
          </ul>
          </div>

          <div class="column col-lg-3 col-md-3 col-sm-12">
            <h3>Jobs Single</h3>
          <ul>
            <li><a href="job-single.html">Job Single v1</a></li>
            <li><a href="job-single-2.html">Job Single v2</a></li>
            <li><a href="job-single-3.html">Job Single v3</a></li>
            <li><a href="job-single-4.html">Job Single v4</a></li>
            <li><a href="job-single-5.html">Job Single v5</a></li>
            <li><a href="job-single-6.html">Job Single v6</a></li>
            <li><a href="job-single-7.html">Job Single v7</a></li>
          </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="dropdown">
      <span>Employers</span>
      <ul>
        <li class="dropdown">
          <span>Employers List</span>
          <ul>
            <li><a href="employers-list-v1.html">Employers LIst v1</a></li>
            <li><a href="employers-list-v2.html">Employers LIst v2</a></li>
            <li><a href="employers-list-v3.html">Employers LIst v3</a></li>
            <li><a href="employers-list-v4.html">Employers LIst v4</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <span>Employers Single</span>
          <ul>
            <li><a href="employers-single-v1.html">Employers Single v1</a></li>
            <li><a href="employers-single-v2.html">Employers Single v2</a></li>
            <li><a href="employers-single-v3.html">Employers Single v3</a></li>
          </ul>
        </li>
        <li><a href="dashboard.html">Employers Dashboard</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <span>Candidates</span>
      <ul>
        <li class="dropdown">
          <span>Candidates List</span>
        <ul>
          <li><a href="candidates-list-v1.html">Candidates LIst v1</a></li>
          <li><a href="candidates-list-v2.html">Candidates LIst v2</a></li>
          <li><a href="candidates-list-v3.html">Candidates LIst v3</a></li>
          <li><a href="candidates-list-v4.html">Candidates LIst v4</a></li>
          <li><a href="candidates-list-v5.html">Candidates LIst v5</a></li>
          <li><a href="candidates-list-v6.html">Candidates LIst v6</a></li>
          <li><a href="candidates-list-v7.html">Candidates LIst v7</a></li>
        </ul>
        </li>

        <li class="dropdown">
          <span>Candidates Single</span>
        <ul>
          <li><a href="candidates-single-v1.html">Candidates Single v1</a></li>
          <li><a href="candidates-single-v2.html">Candidates Single v2</a></li>
          <li><a href="candidates-single-v3.html">Candidates Single v3</a></li>
          <li><a href="candidates-single-v4.html">Candidates Single v4</a></li>
          <li><a href="candidates-single-v5.html">Candidates Single v5</a></li>
        </ul>
        </li>
        <li><a href="candidate-dashboard.html">Candidates Dashboard</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <span>Blog</span>
      <ul>
        <li><a href="blog-list-v1.html">Blog LIst v1</a></li>
        <li><a href="blog-list-v2.html">Blog LIst v2</a></li>
        <li><a href="blog-list-v3.html">Blog LIst v3</a></li>
        <li><a href="blog-single.html">Blog Single</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <span>Pages</span>
      <ul>
        <li class="dropdown">
          <span>Shop</span>
          <ul>
            <li><a href="shop.html">Shop List</a></li>
            <li><a href="shop-single.html">Shop Single</a></li>
            <li><a href="shopping-cart.html">Shopping Cart</a></li>
            <li><a href="shop-checkout.html">Checkout</a></li>
            <li><a href="order-completed.html">Order Completed</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
          </ul>
        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="pricing.html">Pricing</a></li>
        <li><a href="faqs.html">FAQ's</a></li>
        <li><a href="terms.html">Terms</a></li>
        <li><a href="invoice.html">Invoice</a></li>
        <li><a href="elements.html">Ui Elements</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </li>

    <!-- Only for Mobile View -->
    <li class="mm-add-listing">
      <a href="add-listing.html" class="theme-btn btn-style-one">Job Post</a>
      <span>
        <span class="contact-info">
          <span class="phone-num"><span>Call us</span><a href="tel:1234567890">123 456 7890</a></span>
          <span class="address">329 Queensberry Street, North Melbourne VIC <br>3051, Australia.</span>
          <a href="mailto:support@superio.com" class="email">support@superio.com</a>
        </span>
        <span class="social-links">
          <a href="#"><span class="fab fa-facebook-f"></span></a>
          <a href="#"><span class="fab fa-twitter"></span></a>
          <a href="#"><span class="fab fa-instagram"></span></a>
          <a href="#"><span class="fab fa-linkedin-in"></span></a>
        </span>
      </span>
    </li>
  </ul>
</nav>
<!-- Main Menu End-->
</div>

<div class="outer-box">
<!-- Login/Register -->
<div class="btn-box">
  <a href="{% url 'JobPortal:login'%}" class="theme-btn btn-style-six call-modal">Login / Register</a>
  <a href="dashboard-post-job.html" class="theme-btn btn-style-five"><span class="btn-title">Job Post</span></a>
</div>
</div>
</div>
</div>