<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Cards</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/Profiles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
{% block content %}
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Profile Card 1 -->
            <div class="col-6 col-md-4 col-lg-3 mb-4 profile-card">
                <img src="{% static 'images/sampletest/Profiles-1.jpg' %}" alt="Profile Image">
                <span class="status-badge-match">100% Match</span>
                <span class="status-badge-kilometer">1.3KM away</span>
                <div class="profile-info">
                    <h2>Sithara Nair, 26</h2>  
                    <p>HYDERABAD</p>
                </div>
            </div>

            <!-- Profile Card 2 -->
            <div class="col-6 col-md-4 col-lg-3 mb-4 profile-card">
                <img src="{% static 'images/sampletest/Profiles-2.jpg' %}" alt="Profile Image">
                <span class="status-badge-match">100% Match</span>
                <span class="status-badge-kilometer">1.3KM away</span>
                <div class="profile-info">
                    <h2>Sithara Nair, 26</h2>  
                    <p>HYDERABAD</p>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 mb-4 profile-card">
                <img src="{% static 'images/sampletest/Profiles-1.jpg' %}" alt="Profile Image">
                <span class="status-badge-match">100% Match</span>
                <span class="status-badge-kilometer">1.3KM away</span>
                <div class="profile-info">
                    <h2>Sithara Nair, 26</h2>  
                    <p>HYDERABAD</p>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 mb-4 profile-card">
                <img src="{% static 'images/sampletest/Profiles-2.jpg' %}" alt="Profile Image">
                <span class="status-badge-match">100% Match</span>
                <span class="status-badge-kilometer">1.3KM away</span>
                <div class="profile-info">
                    <h2>Sithara Nair, 26</h2>  
                    <p>HYDERABAD</p>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 mb-4 profile-card">
                <img src="{% static 'images/sampletest/Profiles-1.jpg' %}" alt="Profile Image">
                <span class="status-badge-match">100% Match</span>
                <span class="status-badge-kilometer">1.3KM away</span>
                <div class="profile-info">
                    <h2>Sithara Nair, 26</h2>  
                    <p>HYDERABAD</p>
                </div>
            </div>
            

            <!-- Add more profile cards as needed -->

        </div>
    </div>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
{% endblock content %}
</html>
